.searchContainer {
    display: flex;
    flex-direction: column;
    width: 700px;
    z-index: 2;

    .searchInp {
        // max-width: 700px;
        border-radius: 17px;
        color: #490057;
    }

    .searchContainer {
        background-color: #F7F7F8;
        // max-width: 600px;
        height: fit-content;
        //  margin-bottom: 15px;
        border-radius: 12px;


        .searchItem {
            height: 50px;
            display: flex;
            gap: 10px;
            align-items: center;
            cursor: pointer;
            border-bottom: 1px solid #490057;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}