    .userFriends {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;


        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            box-shadow: 5px 5px 5px 5px rgba(106, 99, 128, 0.1);
            width: 250px;
            height: 40px;
            padding-left: 10px;

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }


    }