.container {
    max-width: 1440px;
    gap: 20px;

    .backgroundImage {
        width: 100%;
        height: 403px;
        display: grid;
        grid-template-rows: 280px 123px;
        margin-bottom: 30px;

        .backgroundContainer {

            position: relative;

            :hover {
                .imageHover {
                    display: block;
                }
            }

            .imageHover {
                position: absolute;
                bottom: 25px;
                right: 25px;
                display: none;
            }
        }



        .backgroundImageBottom {
            background-color: #FFFFFF;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .backgroundImageBottomLeft {
                position: relative;

                .main {
                    display: flex;
                    flex-direction: row-reverse;
                    padding-left: 215px;

                    img {
                        position: absolute;
                        bottom: 14px;
                        left: 57px;
                        width: 180px;
                        height: 180px;
                    }
                }
            }

            .backgroundImageBottomRight {
                display: flex;
                align-items: center;
                gap: 15px;
                margin-right: 54px;

                .message {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 46px;
                    height: 46px;
                    background-color: #A303A0;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }
    }

    .top {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        height: 56px;
    }

    .accountContainer {
        max-width: 1240px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        gap: 5px;
        background-color: #fff;
        padding: 10px;

        .accountNews {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
}