.requestContainer {
    position: relative;

    .box {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        background-color: #fff;
        margin-top: 5px;

        .boxItem {
            display: flex;
            align-items: center;
            gap: 10px;
            z-index: 1;

            img {
                width: 30px;
                height: 30px;
                border-radius: 50px;
                padding: 2px;
            }
        }
    }
}